body,
html,
.App,
#root {
  height: 100%;
}

.App {
  text-align: center;
}

.tracklist-container {
  width: 90%;
  margin: 0 auto;
}

.tracklist-div {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.track {
  padding: 1%;
  display: flex;
  width: 25%;
  
}
.track-album {
  width: 100%;
  height: 100%;
}

